/**
 * eo4geo theme for reveal.js. (...\eo4geo_reveal_template\css\theme)
 *
 * By Hakim El Hattab, http://hakim.se
 * adapted by: University of Salzburg, 2020
 */
 /*import font:*/
 
 
body:after {
content: url(../images/eo4geocourses_logo.png);
position: fixed;
bottom: 3.5em;
left: 3.5em;
box-shadow: 5px 5px 10px #000; }

.reveal {
/*	color: black; */
	font-family: Arial;
/*	font-size: 30.3px; */
	text-align: left;}

.reveal h2{
	font-family: Arial;
	font-size: 39px;
    font-weight: bold;
	text-align: center;
    vertical-align: middle;
    color: rgb(93,173,226);}

.reveal p {
    margin: 0px ;
	text-align: left;
    line-height: 1.2; }

.reveal div.ppt-h2{
	/*padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px; */
    vertical-align: middle;
    /* border:2px solid Orange;*/}

.reveal div.ppt-txt{
	text-align: left;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
    /* border:2px solid Red;*/
	}
.reveal div.img-div{
    border:/* 2px solid Green; */ 
	}

.reveal section img.ppt-img {
  margin: 0px;
  border-style: none;
  background: none;
  box-shadow: none;
  max-width: 100%; 
  max-height:100%;
  display: block;
  }
	